.AdminBody {
    width: 100vw;
    height: 100vh;
}
.Card{
    height: 182px;
}

.FaIcons {
    cursor: pointer;
}

.Table {
    border-collapse: collapse;
    width: 100%;

    thead th {
        position: sticky;
        border-top: 1px solid #000;
        top: 0;
    }
}

.TableDiv {
    height: 60vh;
    overflow-y: auto;
}